{% extends "base_service.html" %}
{% block title %}{{organisation.name}}{% endblock%}
{% block service_title %} Manage - {{organisation.name}}{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <h2>{{organisation.name}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      
      {% include "_tabs.html" %}

      <p>
        {{organisation.activities}}
      </p>

      <hr/>

      <h3>Directors and officers <a href="#" class="button tiny right secondary">Amend</a></h3>
      <ul>
          {% for director in organisation.directors %}
          <li>{{ director }} &mdash; Director</li>
        {% endfor %}
      </ul>

      <hr/>

      <h3>Registered address <a href="#" class="right button tiny secondary">Amend</a></h3>
      <p>
        {% if organisation.full_address %}
          <a href="#">{{ organisation.full_address }}</a>
        {% else %}
          <a href="#">Transworld House, 100 City Road, London, EC1Y 2BP</a>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
