{% extends "base_transaction.html" %}
{% block title %}Types of organisation{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
      <form method="post" action="">
        <h2>Registrations</h2>
        <p>
          {{render_checkbox(form.register_data)}}
        </p>
        <p class="hint">
          This could include: keeping customers’ addresses on file, recording staff working hours, giving delivery information to a delivery company.
        </p>
        <p>
          {{render_checkbox(form.register_employer)}}
        </p>
        <p class="hint">
           This includes if you’re employing yourself e.g. as the only director of a limited company.
        </p>
        <p>
          {{render_checkbox(form.register_construction)}}
        </p>
        <p class="hint">
          You must register as a contractor with the Construction Industry Scheme (CIS) if: you pay subcontractors to do construction work your business doesn’t do construction work but you usually spend more than £1 million a year on construction.
        </p>
        <hr/>
        <h2>Taxes</h2>
        <ul class="verified-facts">
          <li>
            Your organisation will be registered for Corporation tax (<a href="">Don't do this</a>)
          </li>
          <li>
            Directors will automatically be registered for Self Assessment
            (<a href="">Don't do this</a>)
          </li>
          <li>
            Your organisation will automatically be registered for VAT once
            its VAT taxable turnover reaches more than &pound;81,000
          </li>
        </ul>
        <hr/>
        <button type="submit" class="button expand">Next</button>
        {{ form.csrf_token }}
      </form>
    </div>
  </div>
{% endblock %}
