{% extends "base_transaction.html" %}
{% block title %}Types of organisation{% endblock%}
{% block transaction_content %}
  <div class="row">
    <div class="small-12 columns">
      <ul class="verified-facts">
        <li>
          Bankruptcy and insolvency register check OK
        </li>
      </ul>
     <h3>Choose a type of organisation</h3>
     <form action="" method="post">
         {{form.organisation_type(class_="radio")}}
         <button type="submit" class="button expand">Next</button>
         {{ form.csrf_token }}
      </form>
    </div>
  </div>
{% endblock %}
